@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  background-color: #202124;
  color: #F1F3F4;
}

body {
  @apply min-h-screen bg-neutral-900 text-neutral-100;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1A73E8;
  border-radius: 999px;
}